vue/
vue/node_modules
vue/dist
release/
.idea/
.DS_Store

coverage.out

node_modules
.env
.deps
.DS_Store
coverage
coverage.json
typechain

# Hardhat files
cache
localnet/artifacts

# Typescript
dist

# LocalNet Files
localnet/polygon/bor
localnet/polygon/heimdall
localnet/polygon/data
localnet/bsc/bsc-docker
localnet/bsc/storage
localnet/ganache/storage
localnet/zetachain/storage
localnet/zetachain/config/genesis
localnet/zetachain/config/node*/*
localnet/networks
