.deps
.DS_Store
.env
.idea/
.vscode/
.secrets
.actrc
.zetacored/
.zetaclientd/
coverage
coverage.json
coverage.out
coverage.html
node_modules
release/
typechain
vue/
vue/dist
vue/node_modules
vue/node_modules
yarn-error.log
contrib/meta.pem
contrib/meta.pem.pub
# GitHub Actions
dispatch_payload.json
.github/workflows/local-testing.yml


# Hardhat files
cache
localnet/artifacts

# Typescript
dist

# LocalNet Files
localnet/chains/bsc/bsc-docker
localnet/chains/bsc/storage
localnet/chains/polygon/bor
localnet/chains/polygon/data
localnet/chains/polygon/heimdall
localnet/chains/zetachain/config/genesis
localnet/chains/zetachain/config/node*/*
localnet/chains/zetachain/storage
localnet/ganache/storage
localnet/zetachain-monorepo
/standalone-network/authz/tx.json
/zetanode.log

dist/

## TMP 

contrib/local-athens
