version: "3"

# This docker-compose is similar to the docker-compose-upgrade.yml, but it uses a smaller height option for the upgrade (90)
# By using 90, the orchestrator will automatically run setup only for the first e2e test execution.

services:
  orchestrator:
    entrypoint: ["/work/start-zetae2e.sh", "local", "upgrade", "90"]

  upgradeorchestrator:
    entrypoint: ["/root/start-upgradeorchestrator.sh", "90"]