name: "CodeQL - ZetaChain Custom checks "

on:
  push:
    branches:
      - develop
      - release/**
  pull_request:

jobs:
  analyze:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        language: [ 'go' ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: ${{ matrix.language }}
          packs: zeta-chain/protocol-security-codeql  
      - name: Analyze
        uses: github/codeql-action/analyze@v3
